<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		{{#if showMenu}}
		<div>
			<small>
				<a href="/">Home</a>
				<a href="/bank/logout">Logout</a>
			</small>
		</div>
		{{/if}}
		{{#if errorMsg}}
		<div class="error-message">
			{{ errorMsg }}
		</div>
		{{/if}}
		<script src='/javascripts/jquery.min.js'></script>
		{{{body}}}
	</body>
</html>
