<form>
	<div>
		<label for="username">Username</label>
		<input type="text" value="admin" />
		<br />
		<label for="password">Password</label>
		<input type="password" value="admin" />
	</div>
</form>