<form method="POST" action="/bank/login">
	<div>
		<label for="username">Username</label>
		<br />
		<input id="username" type="text" value="admin" />
		<br />
		<label for="password">Password</label>
		<br />
		<input id="password" type="password" value="admin" />
		<input type="checkbox" class="show-password" />
		<label for="show-password">Show</label>
		<br />
		<input type="submit" />
	</div>
</form>